div(class="search-menu d-flex flex-column")
  if users && users.length
    each user in users
      a(class="d-flex flex-row align-items-center search-menu-items pointer-cursor" href="/users/" + user.username)
        img(class="p-1" src=user.avatar alt="profile" width="40")
        span(class="pl-3")= user.username
  else
    span(class="p-3") Aucun utilisateur trouvé